/*================================================
Default CSS
=================================================*/
:root {
  --main-color: #3FB6D6;
  --white-color: #ffffff;
  --black-color: #000000;
}

.switch-box {
  position: fixed;
  z-index: 1;
  right: 95px;
  bottom: 45px;
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: white url("../images/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box input:checked + .slider {
  background-color: var(--main-color);
}

.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px --main-color;
          box-shadow: 0 0 1px --main-color;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("../images/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 50px;
}

.switch-box .slider.round:before {
  border-radius: 50%;
}

.theme-light .black-logo {
  display: block;
}

.theme-light .white-logo {
  display: none;
}

.theme-dark .black-logo {
  display: none;
}

.theme-dark .white-logo {
  display: block;
}

.theme-dark body {
  background-color: var(--black-color);
  color: #f1f1f1;
}

.theme-dark p {
  color: #f1f1f1;
}

.theme-dark p a {
  color: #f1f1f1 !important;
}

.theme-dark p a:hover {
  color: var(--main-color) !important;
}

.theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: var(--white-color) !important;
}

.theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
  color: var(--white-color) !important;
}

.theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
  color: var(--main-color) !important;
}

.theme-dark .topbar-area {
  background-color: #0e0e0e;
}

.theme-dark .topbar-area.bg-1F242F {
  background-color: #0e0e0e;
}

.theme-dark .topbar-area.bg-1F242F .topbar-list li {
  color: var(--white-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-list li a {
  color: var(--white-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-list li a:hover {
  color: var(--main-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-list li a i:hover {
  color: var(--main-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li {
  color: var(--white-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li a {
  color: var(--white-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li a:hover {
  color: var(--main-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li a i:hover {
  color: var(--main-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li.language-option button {
  color: var(--white-color);
}

.theme-dark .topbar-area.bg-1F242F .topbar-action li.language-option button i {
  color: var(--white-color);
}

.theme-dark .topbar-list li {
  color: var(--white-color);
}

.theme-dark .topbar-list li a {
  color: var(--white-color);
}

.theme-dark .topbar-list li a:hover {
  color: var(--main-color);
}

.theme-dark .topbar-list li a i {
  color: var(--main-color);
}

.theme-dark .topbar-list li a i:hover {
  color: var(--main-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.theme-dark .topbar-action li {
  color: var(--white-color);
}

.theme-dark .topbar-action li a {
  color: var(--white-color);
}

.theme-dark .topbar-action li a:hover {
  color: var(--main-color);
}

.theme-dark .topbar-action li a i {
  color: var(--main-color);
}

.theme-dark .topbar-action li a i:hover {
  color: var(--main-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.theme-dark .topbar-action li.language-option button {
  color: var(--white-color);
}

.theme-dark .topbar-action li.language-option button i {
  color: var(--white-color);
}

.theme-dark .topbar-action li.language-option button::before {
  border-color: var(--white-color);
}

.theme-dark .topbar-action li.language-option .language-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .topbar-action li.language-option .language-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #000000;
}

.theme-dark .topbar-action li.language-option .language-dropdown-menu .dropdown-item:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}

.theme-dark .topbar-action li.language-option .language-dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.theme-dark .main-navbar {
  background-color: var(--black-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .cart-btn i {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .cart-btn i:hover {
  color: var(--main-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus {
  border-color: var(--main-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::placeholder {
  color: transparent;
}

.theme-dark .main-slides-item {
  position: relative;
  z-index: 1;
}

.theme-dark .main-slides-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--black-color);
  z-index: -1;
  opacity: .80;
}

.theme-dark .main-slides-content span {
  color: var(--white-color);
}

.theme-dark .single-features-card {
  background-color: #0e0e0e;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .department-area {
  background-color: #0e0e0e;
}

.theme-dark .department-area::before {
  background-color: var(--black-color);
}

.theme-dark .single-department-card {
  background-color: #1F242F;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .single-department-card .department-content .department-btn {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .form-control {
  background-color: #1F242F;
  color: var(--white-color);
  border: 1px solid #1F242F;
}

.theme-dark .appointment-form-inner-box .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-dark .appointment-form-inner-box .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-inner-box .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-inner-box .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-inner-box .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .appointment-form-inner-box .form-group label {
  color: var(--white-color);
}

.theme-dark .appointment-form-inner-box .form-group .selectize-input {
  background-color: #1F242F;
  color: var(--white-color);
  border: 1px solid #1F242F;
}

.theme-dark .appointment-form-inner-box .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .single-doctors-card .doctors-content span {
  color: var(--white-color);
}

.theme-dark .before-after-area {
  background-color: #0e0e0e;
}

.theme-dark .before-after-area::before {
  background-color: var(--black-color);
}

.theme-dark .before-after-area::after {
  background-color: var(--black-color);
}

.theme-dark .before-after-content span {
  color: var(--white-color);
}

.theme-dark .before-after-list .list li {
  color: var(--white-color);
}

.theme-dark .before-after-list .list li:hover i {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .single-funfact-card {
  background-color: #1F242F;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .single-funfact-card:hover {
  background-color: var(--main-color);
}

.theme-dark .single-testimonials-box p::before {
  color: #0e0e0e;
  opacity: 100%;
}

.theme-dark .single-testimonials-box .info span {
  color: var(--white-color);
}

.theme-dark .pricing-area {
  position: relative;
  z-index: 1;
}

.theme-dark .pricing-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--black-color);
  z-index: -1;
  opacity: .90;
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link:hover, .theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active {
  color: var(--main-color);
}

.theme-dark .single-pricing-table {
  background-color: #0e0e0e;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .single-pricing-table .price {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .price span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .features-list li {
  color: var(--white-color);
}

.theme-dark .partner-area {
  background-color: #005CB9;
}

.theme-dark .partner-area .section-title span {
  color: var(--white-color);
}

.theme-dark .single-blog-card .post-content .entry-meta li {
  color: var(--white-color);
}

.theme-dark .single-blog-card .post-content .entry-meta li a {
  color: var(--white-color);
}

.theme-dark .single-blog-card .post-content .entry-meta li a:hover {
  color: var(--main-color);
}

.theme-dark .single-blog-card .post-content .post-btn {
  color: var(--white-color);
}

.theme-dark .footer-area {
  background-color: var(--black-color);
}

.theme-dark .footer-area.bg-1F242F {
  background-color: var(--black-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget h3 {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget p {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .footer-information li {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .footer-information li i {
  color: var(--main-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .footer-information li a {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .footer-information li a:hover {
  color: var(--main-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .quick-links li a {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .quick-links li span {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content p {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::placeholder {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::placeholder {
  color: transparent;
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form button {
  color: var(--white-color);
}

.theme-dark .footer-area.bg-1F242F .single-footer-widget .widget-newsletter-content .newsletter-form button:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget h3 {
  color: var(--white-color);
}

.theme-dark .single-footer-widget p {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .footer-information li {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .footer-information li i {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .footer-information li a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .footer-information li a:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .quick-links li a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .quick-links li span {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content p {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter::placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form .input-newsletter:focus::placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form button {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .widget-newsletter-content .newsletter-form button:hover {
  color: var(--main-color);
}

.theme-dark .footer-shape-1 {
  opacity: 10%;
}

.theme-dark .copyright-area {
  background-color: #0e0e0e;
}

.theme-dark .copyright-area .copyright-content p {
  color: var(--white-color);
}

.theme-dark .copyright-area .copyright-content p a {
  color: var(--main-color);
}

.theme-dark .copyright-area .copyright-content p a:hover {
  color: var(--main-color);
}

.theme-dark .features-inner-box {
  background-color: #0e0e0e;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .single-department-box {
  background-color: #0e0e0e;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .single-department-box .department-btn {
  color: var(--white-color);
}

.theme-dark .choose-us-content .list li {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment {
  background-color: var(--black-color);
  border: 1px solid #0e0e0e;
}

.theme-dark .main-banner-appointment .content p {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-dark .main-banner-appointment form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .main-banner-appointment form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .main-banner-appointment form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .main-banner-appointment form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .main-banner-appointment form .form-group label {
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .selectize-input {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .main-banner-appointment form .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .department-area-white.bg-EBF5F5 {
  background-color: #1F242F;
}

.theme-dark .faq-area {
  background-color: #0e0e0e;
}

.theme-dark .faq-area.bg-ffffff {
  background-color: #0e0e0e;
}

.theme-dark .faq-area.bg-ffffff .faq-accordion .accordion-item .accordion-button {
  border-bottom: 1px solid #1F242F;
}

.theme-dark .faq-accordion .accordion-item:last-child .accordion-button {
  border-bottom: none !important;
}

.theme-dark .faq-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button.collapsed::before {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-body p {
  color: var(--white-color);
}

.theme-dark .funfact-area.bg-1F242F {
  background-color: #0e0e0e;
}

.theme-dark .doctor-details-image .desc-info-item .item-content {
  background-color: #1F242F;
}

.theme-dark .doctor-details-image .desc-info-item .item-content span {
  color: var(--white-color);
}

.theme-dark .doctor-details-image .desc-info-item .item-content span a {
  color: var(--main-color);
}

.theme-dark .doctor-details-desc .introduction-content .list li {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .skills-content .skills-list li {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .skills-content .skills-list li:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group label {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control {
  border: 1px solid #0e0e0e;
  color: var(--white-color);
  background-color: #0e0e0e;
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid var(--main-color);
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .doctor-details-desc .book-an-appointment form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .terms-of-service-content .blockquote, .theme-dark .terms-of-service-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .terms-of-service-content ol li, .theme-dark .terms-of-service-content ul li {
  color: var(--white-color);
}

.theme-dark .privacy-policy-content .blockquote, .theme-dark .privacy-policy-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .privacy-policy-content ol li, .theme-dark .privacy-policy-content ul li {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .widget-area .widget_search form .search-field::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus {
  border-color: var(--main-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form button {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories .categories-list li {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a:hover {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_categories .categories-list li::before {
  background-color: var(--main-color);
}

.theme-dark .widget-area .widget_mebid_posts_thumb .item .info span {
  color: var(--white-color);
}

.theme-dark .widget-area .tagcloud a {
  color: var(--white-color);
  border: 1px solid #0e0e0e;
}

.theme-dark .widget-area .tagcloud a:hover, .theme-dark .widget-area .tagcloud a:focus {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.theme-dark .coming-soon-content {
  background-color: #0e0e0e;
}

.theme-dark .coming-soon-content form .form-group .form-control {
  color: var(--white-color);
  background-color: #1F242F;
  border: 1px solid #1F242F;
}

.theme-dark .coming-soon-content form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .login-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .login-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .login-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .login-form form .lost-your-password-wrap a {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text p {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text p a {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text p a:hover {
  color: var(--main-color);
}

.theme-dark .register-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .register-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .register-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .register-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .register-form form .lost-your-password-wrap a {
  color: var(--white-color);
}

.theme-dark .register-form form .account-text p {
  color: var(--white-color);
}

.theme-dark .register-form form .account-text p a {
  color: var(--white-color);
}

.theme-dark .register-form form .account-text p a:hover {
  color: var(--main-color);
}

.theme-dark .forgot-password-form {
  background-color: #1F242F;
  border: 1px solid #0e0e0e;
}

.theme-dark .forgot-password-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .forgot-password-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .appointment-form .form-group label {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-dark .appointment-form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .appointment-form .form-group .icon {
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .selectize-input {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .appointment-form .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .appointment-form .form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .appointment-form .form-cookies-consent [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .doctor-calendar-filter .form-group .selectize-input {
  border-bottom: 1px solid var(--white-color) !important;
  background-color: transparent;
  color: var(--white-color);
}

.theme-dark .doctor-calendar-filter .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .doctor-calendar-table {
  background-color: #0e0e0e;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.theme-dark .doctor-calendar-table table tbody tr td {
  border: 1px solid #1F242F;
  color: var(--white-color);
}

.theme-dark .doctor-calendar-table table tbody tr td:first-child {
  border-left: none;
}

.theme-dark .doctor-calendar-table table tbody tr td:last-child {
  border-right: none;
}

.theme-dark .doctor-calendar-table table tbody tr td h3 {
  color: var(--white-color);
}

.theme-dark .doctor-calendar-table table tbody tr td span {
  color: var(--white-color);
}

.theme-dark .emergency-services-box {
  background-color: #0e0e0e;
}

.theme-dark .emergency-services-box h3 a {
  color: var(--white-color);
}

.theme-dark .emergency-services-box h3 a:hover {
  color: var(--main-color);
}

.theme-dark .single-emergency-services-card {
  background-color: #0e0e0e;
}

.theme-dark .single-emergency-services-card:hover {
  background-color: var(--main-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group label {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap #contactForm .form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .contact-form-wrap #contactForm .form-cookies-consent [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .contact-support span {
  color: var(--white-color);
}

.theme-dark .contact-support .information li {
  color: var(--white-color);
}

.theme-dark .contact-support .information li a {
  color: var(--white-color);
}

.theme-dark .contact-support .information li a:hover {
  color: var(--main-color);
}

.theme-dark .find-doctor-box {
  background-color: #0e0e0e;
}

.theme-dark .find-doctor-form .form-group label {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-dark .find-doctor-form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .find-doctor-form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .find-doctor-form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .find-doctor-form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .find-doctor-form .form-group .icon {
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .selectize-input {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .find-doctor-form .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .testimonials-area.bg-EBF5F5 {
  background-color: #1F242F;
}

.theme-dark .department-details-doctor-box {
  background-color: #0e0e0e;
}

.theme-dark .department-conditions-list li {
  color: var(--white-color);
}

.theme-dark .mebid-grid-sorting {
  background-color: #0e0e0e;
}

.theme-dark .mebid-grid-sorting .result-count p .count {
  color: var(--white-color);
}

.theme-dark .mebid-grid-sorting .ordering .selectize-input {
  border: 1px solid var(--black-color);
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .mebid-grid-sorting .ordering .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .single-shop-card .shop-content span {
  color: var(--white-color);
}

.theme-dark .cart-table table thead tr th {
  border: 1px solid #0a0a11;
  color: var(--white-color);
  padding: 20px;
}

.theme-dark .cart-table table tbody tr td {
  border: 1px solid #0a0a11;
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td .remove {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td .remove:hover {
  color: var(--main-color);
}

.theme-dark .cart-table table tbody tr td.product-name a {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control {
  background-color: #0a0a11;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-quantity .form-control input {
  background-color: #0a0a11;
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .cart-buttons .shopping-coupon-code .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .cart-buttons .shopping-coupon-code button {
  background: var(--main-color);
  color: var(--white-color);
}

.theme-dark .cart-buttons .shopping-coupon-code button:hover {
  background-color: var(--main-color);
}

.theme-dark .cart-totals {
  background: #0a0a11;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid var(--black-color);
}

.theme-dark .cart-totals ul li {
  color: var(--white-color);
}

.theme-dark .cart-totals ul span {
  color: var(--white-color);
}

.theme-dark .cart-totals ul:last-child span {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group label {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .form-control {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .selectize-input {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .billing-details .form-group .selectize-input:after {
  border-color: var(--main-color);
}

.theme-dark .billing-details .form-check .form-check-label {
  color: var(--white-color);
}

.theme-dark .payment-box {
  background: #0a0a11;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid var(--black-color);
}

.theme-dark .payment-box .payment-method p [type="radio"]:checked + label, .theme-dark .payment-box .payment-method p [type="radio"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .payment-box .check-me-wrap [type="checkbox"]:checked + label, .theme-dark .payment-box .check-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .products-details-desc .price {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-review .rating span {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-add-to-cart .form-control {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-add-to-cart .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-add-to-cart .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-add-to-cart .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-add-to-cart .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-meta span {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-meta span span.sku {
  color: var(--white-color);
}

.theme-dark .products-details-desc .products-meta span span.category {
  color: var(--white-color);
}

.theme-dark .nav-tabs {
  border-bottom: 1px solid #0a0a11;
}

.theme-dark .products-details-tabs .nav .nav-item .nav-link {
  color: var(--white-color);
  border-bottom: 1px solid #0a0a11;
}

.theme-dark .products-details-tabs .nav .nav-item .nav-link:hover, .theme-dark .products-details-tabs .nav .nav-item .nav-link.active {
  color: var(--main-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-reviews .rating span {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-reviews .rating-count span {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
  border-bottom: 1px solid #1F242F;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review {
  border-bottom: 1px solid #1F242F;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating .review-stars i {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating span {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating label:before {
  color: var(--white-color);
}

.theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content span a {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content span a:hover {
  color: var(--main-color);
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote {
  background: #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote b {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-footer .article-tags ul li span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-footer .article-tags ul li a {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-navigation {
  border-top: 1px solid #0a0a11;
}

.theme-dark .blog-details-desc .article-comments .comments-list span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group label {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid #0e0e0e;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus {
  border-color: var(--main-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .comment-form-cookies-consent label {
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}
/*# sourceMappingURL=dark.css.map */